<div class="category-view">

	<div class="category-view-row">

		<div class="block-view">
			<div class="bg-block-category-view">
				<div class="block-category-view"><a style="opacity: 1;" href="http://www.littleartistbrand.com/store/little-artist-home/daisy-darcy/our-ranges/floral-treat.html"> <img src="{{media    url="wysiwyg/floral_022_150x150.jpg"}}" alt="Floral Treat" /> </a></div>
			</div>
			<div class="block-text">Floral Treat</div>
		</div>

		<div class="block-view">
			<div class="bg-block-category-view">
				<div class="block-category-view"><a style="opacity: 1;" href="http://www.littleartistbrand.com/store/little-artist-home/daisy-darcy/our-ranges/hip-hip-hooray.html"> <img src="{{media url="wysiwyg/hiphip_015_150x150.jpg"}}" alt="Hip Hip Hooray" /> </a></div>
			</div>
			<div class="block-text">Hip Hip Hooray</div>
		</div>

	</div>

	<div class="category-view-row">
		<div class="block-view">
			<div class="bg-block-category-view">
				<div class="block-category-view"><a style="opacity: 1;" href="http://www.littleartistbrand.com/store/little-artist-home/daisy-darcy/our-ranges/pretty-princess.html"> <img src="{{media url="wysiwyg/prettyprincess_044_150x150.jpg"}}" alt="Pretty Princess" /> </a></div>
			</div>
			<div class="block-text">Pretty Princess</div>
		</div>

		<div class="block-view">
			<div class="bg-block-category-view">
				<div class="block-category-view"><a style="opacity: 1;" href="http://www.littleartistbrand.com/store/little-artist-home/daisy-darcy/our-ranges/sweet-surprise.html"> <img src="{{media url="wysiwyg/sweet-surprise_017_150x150.jpg"}}" alt="Sweet Surprise" /> </a></div>
			</div>
			<div class="block-text">Sweet Surprise</div>
		</div>
	</div>

	<div class="category-view-row">
		<div class="block-view">
			<div class="bg-block-category-view">
				<div class="block-category-view"><a style="opacity: 1;" href="http://www.littleartistbrand.com/store/little-artist-home/daisy-darcy/our-ranges/ahoy-there.html"> <img src="{{media url="wysiwyg/ahoy-there-_no-text__150x150.jpg"}}" alt="Ahoy There" /> </a></div>
			</div>
			<div class="block-text">Ahoy There</div>
		</div>

		<div class="block-view">
			<div class="bg-block-category-view">
				<div class="block-category-view"><a style="opacity: 1;" href="http://www.littleartistbrand.com/store/little-artist-home/daisy-darcy/our-ranges/deck-the-halls.html"> <img src="{{media url="wysiwyg/deck-the-halls-_no-text__150x150.jpg"}}" alt="Deck the Halls" /> </a></div>
			</div>
			<div class="block-text">Deck the Halls</div>
		</div>
	</div>

	<div class="category-view-row one-colum">
		<div class="block-view">
			<div class="bg-block-category-view">
				<div class="block-category-view"><a style="opacity: 1;" href="http://www.littleartistbrand.com/store/little-artist-home/daisy-darcy/our-ranges/jolly-santa.html"> <img src="{{media url="wysiwyg/jolly-santa-_no-text__150x150.jpg"}}" alt="Jolly Santa" /> </a></div>
			</div>
			<div class="block-text">Jolly Santa</div>
		</div>
	</div>

</div>