@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

#nav {
	width: 100%;
	/*margin: 0 auto;
	position: relative;
	left: 9px;*/
	text-align: center;
}

#nav > li > a > span {
	font-family: 'Amatic SC', cursive;
	font-size: 22px;
	font-weight: normal;
	letter-spacing: 2px;
	color: #000;
}

.container_24.x-component {
	width: 930px;
	padding: 10px;
	margin-top: 10px;
}
.container_24.x-component > .grid_24 {
	margin: 0;
	width: 930px;
	
}
.container_24.x-component > .grid_24 > .wrapper {
	margin-top: 0;
	width: 930px;
}
.x-component {
	background-color: white;
	border-radius: 6px;
}
.block-content .actions > button > button.button {
	position:relative;
	top: 1px;
}
.copyright {
	margin-top: 15px;
	font-size: 12px;
	color: #bbb;
	margin-left: 15px;
}
.wrapper-page {
	background-color: white;
	padding: 16px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.wrapper-page p {
	line-height: 24px;
	font-size: 15px;	
}

.wrapper-page ul{
	margin-left: 30px;
	line-height: 24px;
}
.wrapper-brand {
	background-color: white;
	padding: 16px;
	border-radius: 6px;
	margin-right: 6px;
}
.block-head {
	position:relative;
	overflow:hidden;
	text-align: center;
	color: #999999;
	margin-bottom: 16px;
}
.block-text-header {
	margin : 22px 0 10px;
	font-size: 18px;
	font-weight: bold;
	color: #00b6b8;
}
.block-text-des {
	font-size: 14px;
	margin-right: 2px;
	color: #444;
}
.block-text-con {
	text-align: left;
	color :#000000;
	font-size: 14px;
}
.block-text-con a {
	color : #0f75bd;
	font-weight: bold;
}
	
.cart-indent .actions > button.button span span {
	width: 152px;
}
.cart-indent .product-name {
	margin-left:42px;
}
.content h2 {
	font-family: Tahoma;
	font-weight: bold; 
}
.cart-price strong {
	color: #999;
}
.indent-sw1 > .col-1 {
	display: none;
}
.coming-soon {
	color: white;
	position: absolute;
	left: 38%; 
	z-index: 1;
	border: 1px solid white;
	padding: 18px;
	border-radius: 6px;
	font-family: 'Amatic SC', cursive;
	font-size: 45px;
	font-weight: bold;
	
	margin-top: 106px;
}
.blursheet {
	background-color: black;
	width: 914px;
	height: 261px;
	position: absolute;
	opacity: 0.5;
}
.more-views {
	margin-left: 12px;
}

#webform_2_form {
	background-color : white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 10px 10px;
}

.fieldset {
	background-color: white;
	padding: 10px; 
}
#checkout-review-submit {
	margin: 10px;
}
#checkout-shipping-method-load {
	margin: 10px;
}
#shipping-method-buttons-container button {
	margin-right: 10px;
}
#co-payment-form fieldset{
	margin-top: 14px;
	margin-left: 14px;	
}	
.sp-methods{}
.sp-methods dd {
	margin-bottom: 20px;
}
.product-name-s .product-name {
	margin-left: 1px;
}
.my-account {
	background-color: white;
	border-radius: 6px;
	margin-top: 23px;
}
.recurring-profiles {
	padding: 10px;
}

.my-account p {
	padding:10px;
}
.box {
	margin-left: 10px;
}
.checkout-onepage-success p {
	magin-left: 1px;
}

@media only screen and (min-width: 480px) and (max-width: 959px) {
	#nav > li > a > span {
		font-size: 18px;
		text-align: center;
	}
	.sf-menu li {
		width: 180px;
	}
	.sf-menu > li > a > span {
		margin: 0;
		padding-left: 0px;
		padding-right: 0px;
	}
	.products-grid .actions {
		margin: 10px auto 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.coming-soon {
		margin-top: 72px;
		left: 34%;
	}
	
	.category-view-row{text-align: center;}
	
	.blursheet {
		width: 720px;
		height: 204px;
	}
	.products-grid li.item.first {
		margin-left: 0px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.header h1.logo {
		position : static;
		padding-bottom: 16px;
	}
	
	
	.coming-soon {
		margin-top: 30px;
		left: 22%;
	}
	.blursheet {
		width: 402px;
		height: 114px;
	}
}
@media only screen and (max-width: 479px) {
	.header h1.logo {
		position : static;
		padding-bottom: 16px;
	}
	.products-grid .product-name a, .products-list .product-name a {
		font-size: 10px;
	}
	.coming-soon {
		margin-top: 20px;
		left: 34%;
		font-size: 16px;
		padding: 10px;
	}
	.blursheet {
		width: 272px;
		height: 78px;
	}
	.product-name-s {
		width: 170px;
	}
	.std ul, .std ol, .std dl, .std p, .std address, .std blockquote {
		margin: 0;
	}
	#nav {
		text-align: left;
	}
	.item {
		margin-left: 14px;
	}
}